<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YSSTopSegmentController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C56BC9D1C2D3CE90097F28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C56BCB61C2D3CE90097F28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C56BCC11C2D3CE90097F28D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
